In [1]:
import numpy as np

In [2]:
recipiente = open("datos.dat", "r")    # esto es un buffer
datos = recipiente.readlines()

In [3]:
datos[0].split()

['0', '8']

In [4]:
# datos

M = []

for k in datos:
    M.append(k.split())

In [5]:
datos

['0 \t 8 \n',
 '1 \t 23 \n',
 '2 \t 48 \n',
 '3 \t 83 \n',
 '4 \t 128 \n',
 '5 \t 183 \n',
 '6 \t 248 \n',
 '7 \t 323 \n',
 '8 \t 408 \n',
 '9 \t 503 \n',
 '10 \t 608 \n',
 '11 \t 723 \n',
 '12 \t 848 \n',
 '13 \t 983 \n',
 '14 \t 1128 \n',
 '15 \t 1283 \n',
 '16 \t 1448 \n',
 '17 \t 1623 \n',
 '18 \t 1808 \n',
 '19 \t 2003 \n',
 '20 \t 2208 \n',
 '21 \t 2423 \n',
 '22 \t 2648 \n',
 '23 \t 2883 \n',
 '24 \t 3128 \n',
 '25 \t 3383 \n',
 '26 \t 3648 \n',
 '27 \t 3923 \n',
 '28 \t 4208 \n',
 '29 \t 4503 \n',
 '30 \t 4808 \n',
 '31 \t 5123 \n',
 '32 \t 5448 \n',
 '33 \t 5783 \n',
 '34 \t 6128 \n',
 '35 \t 6483 \n',
 '36 \t 6848 \n',
 '37 \t 7223 \n',
 '38 \t 7608 \n',
 '39 \t 8003 \n',
 '40 \t 8408 \n',
 '41 \t 8823 \n',
 '42 \t 9248 \n',
 '43 \t 9683 \n',
 '44 \t 10128 \n',
 '45 \t 10583 \n',
 '46 \t 11048 \n',
 '47 \t 11523 \n',
 '48 \t 12008 \n',
 '49 \t 12503 \n',
 '50 \t 13008 \n',
 '51 \t 13523 \n',
 '52 \t 14048 \n',
 '53 \t 14583 \n',
 '54 \t 15128 \n',
 '55 \t 15683 \n',
 '56 \t 16248 \n',
 '57 \t 16823 \n',
 '58 \t 17408 \n',
 '59 \t 18003 \n',
 '60 \t 18608 \n',
 '61 \t 19223 \n',
 '62 \t 19848 \n',
 '63 \t 20483 \n',
 '64 \t 21128 \n',
 '65 \t 21783 \n',
 '66 \t 22448 \n',
 '67 \t 23123 \n',
 '68 \t 23808 \n',
 '69 \t 24503 \n',
 '70 \t 25208 \n',
 '71 \t 25923 \n',
 '72 \t 26648 \n',
 '73 \t 27383 \n',
 '74 \t 28128 \n',
 '75 \t 28883 \n',
 '76 \t 29648 \n',
 '77 \t 30423 \n',
 '78 \t 31208 \n',
 '79 \t 32003 \n',
 '80 \t 32808 \n',
 '81 \t 33623 \n',
 '82 \t 34448 \n',
 '83 \t 35283 \n',
 '84 \t 36128 \n',
 '85 \t 36983 \n',
 '86 \t 37848 \n',
 '87 \t 38723 \n',
 '88 \t 39608 \n',
 '89 \t 40503 \n',
 '90 \t 41408 \n',
 '91 \t 42323 \n',
 '92 \t 43248 \n',
 '93 \t 44183 \n',
 '94 \t 45128 \n',
 '95 \t 46083 \n',
 '96 \t 47048 \n',
 '97 \t 48023 \n',
 '98 \t 49008 \n',
 '99 \t 50003 \n']

In [6]:
A = []
B = []
for i in M:
    A.append(float(i[0]))
    B.append(float(i[1]))  
v1 = np.array(A)
v2 = np.array(B)

In [7]:
v1

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51.,
       52., 53., 54., 55., 56., 57., 58., 59., 60., 61., 62., 63., 64.,
       65., 66., 67., 68., 69., 70., 71., 72., 73., 74., 75., 76., 77.,
       78., 79., 80., 81., 82., 83., 84., 85., 86., 87., 88., 89., 90.,
       91., 92., 93., 94., 95., 96., 97., 98., 99.])

In [8]:
A = []
B = []
for i in M:
    A.append(i[0])
    B.append(i[1])    
v1 = np.array(A,float)
v2 = np.array(B,float)

In [9]:
v1

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51.,
       52., 53., 54., 55., 56., 57., 58., 59., 60., 61., 62., 63., 64.,
       65., 66., 67., 68., 69., 70., 71., 72., 73., 74., 75., 76., 77.,
       78., 79., 80., 81., 82., 83., 84., 85., 86., 87., 88., 89., 90.,
       91., 92., 93., 94., 95., 96., 97., 98., 99.])

In [10]:
A = []
B = []
for i in M:
    A.append(i[0])
    B.append(i[1])    
v1 = np.array(A,float)
v2 = np.array(B,float)

## Escritura de Datos

In [11]:
def fibonacci(n):
    
    output = []
    
    f1,f2 = 1,1

    while f2 < n:
        output.append(float(f2))        
        f1,f2 = f2,f1+f2
    
    return output

In [12]:
fibonacci(1000)

[1.0,
 2.0,
 3.0,
 5.0,
 8.0,
 13.0,
 21.0,
 34.0,
 55.0,
 89.0,
 144.0,
 233.0,
 377.0,
 610.0,
 987.0]

In [47]:
# primero debo generar datos

fibo = fibonacci(10000)

tubo = open("resultados.dat", "w")  # Esto es un buffer de salida


for i in fibo:
    tubo.write("%i \n" % i)
tubo.close()